# GEMINI_API_KEY: Chave de acesso à API do Gemini.
GEMINI_API_KEY="SUA_GEMINI_API_KEY"

# APP_URL: URL onde a aplicação está hospedada.
APP_URL="http://localhost:3000"

# ADMIN_CPF: CPF do administrador que terá acesso à portaria e ao painel admin.
# Apenas este CPF poderá escanear e validar QR codes dos participantes.
ADMIN_CPF="39784759870"
